:root {
    --sb-width:2732;
    --sb-height:1314;
}

div {
    /* Prevent the user from being able to accidently highlight text */
    user-select: none;
}

body {
    overflow:hidden; /* Hide scrollbars */
}

#qrvideo {
    /* The QR code reader video tag */
    background-color:black;
    position:absolute;
    transform: translate(-50%, -50%);
    top:16.1vw;
    left:27.6vw;
    height:27.7vw;
    width:50vw;
}

#target-div {
    /* background-color: rgba(255, 0, 0, 0.233); */
    position:absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    height:12vw;
    width:12vw;
}

#target-div img {
    width:100%;
}

video {
    width:100%
}

#logwindow {
    /* The output log window */
    background-color:black;
    position:absolute;
    top:8.5vw;
    left:57vw;
    height:12.5vw;
    width:38vw;
}

#logwindow-text {
    font-family:'Courier New', Courier, monospace;
    font-weight:900;
    font-size: 1.27vw;
    color:rgb(4, 168, 4);
    height:100%;
    width:100%;
}

#background {
    /* Basically just fills out the log screen */
    background-color:black;
    background-size:100vw;
    position:absolute;
    top:0vw;
    left:0vw;
    height:100vh;
    width:100vw; 
}

#spyboy-svg-div {
    /* background-size:100vw; */
    /* width:100vw; */
    position:absolute;
    top:0;
    left:0;
    right:100vw;
    bottom:100vh;
    width:100vw;
    height:100vw; 
}

[id^="button-"] {
    position: absolute;
    width:4.5vw;
    height:4.5vw;
    left:62.3vw;
}

#button-start {
    /* background-color:green; */
    top:26vw;
}

#button-stop {
    /* background-color:yellow; */
    top:33vw;
}

[id^="clock-"] {
    top:42.3vw;
    height:2.2vw;

    color:lightgrey;
    text-align: center;
    font-size:2.2vw;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}

#clock-date {
    position:absolute;
    left:59.2vw;
    width:5.5vw;
}

#clock-month {
    position:absolute;
    left:66.2vw;
    width:7vw;
}

#clock-year {
    position:absolute;
    left:74.8vw;
    width:8.3vw;
}

#clock-time {
    position:absolute;
    left:84.8vw;
    width:8.3vw;
}

svg:not(:root) {
    width:100%;
    height:auto;
}

.spool_animation {
    /* To make this work, you need to move the translation attribute
    to a group outside of the spool group. Not sure if InkScape will
    do that itself. Might need to be done manually. */
    animation-name:spool-kf;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
    display: inline-block;
}
@keyframes spool-kf {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
