<!DOCTYPE doctype html>

<html>
    <head>
        <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"/>  <!-- Disable caching -->
                <meta content="no-cache" http-equiv="Pragma"/>
        <meta content="0" http-equiv="Expires"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>Flyte.nz</title>
    </head>

    <body>
        <p>Welcome back to Zane's website!</p>

        <a href="https://forms.office.com/r/uUvKn7FrxA">ハロウィーンクラスの振り返り</a>
        
    </body>
</html>
