<!DOCTYPE doctype html>

<html>
    <head>
        <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"/>  <!-- Disable caching -->
                <meta content="no-cache" http-equiv="Pragma"/>
        <meta content="0" http-equiv="Expires"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>Spy-Boy 5000</title>
        <link href="/static/css/bulma.min.css" rel="stylesheet"/>
        <!-- <script src="/static/js/jquery.min.js"></script> -->
        <script src="/static/js/teacher.js"></script>
    </head>

    <body>
        <section class="hero is-success is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="box column is-9-tablet is-7-desktop is-6-widescreen">
                            <h1 class="title has-text-grey-dark">Spy-Game Resources Download</h1>
                            <h1 class="subtitle has-text-grey">Click the button below to download the detailed activity explanation and resources.</h1>

                            <a class="button is-info" href="/spygame.zip" download="spygame.zip">Download (35.7MB)</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
