<!DOCTYPE doctype html>

<html>
    <head>
        <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"/>  <!-- Disable caching -->
                <meta content="no-cache" http-equiv="Pragma"/>
        <meta content="0" http-equiv="Expires"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>Spy-Boy 5000</title>
        <link href="/static/css/spyboy.css" rel="stylesheet"/>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/howler.min.js"></script>
        <script src="/static/js/spyboy.js" type="module"></script>
    </head>

    <body>
        <div id="background">
            
            <div id="logwindow">
                <pre id="logwindow-text">
                    
                </pre>
            </div>

            <div id="qrvideo">
                <video id="videoInput" playsinline disablepictureinpicture></video>
                <div id="target-div"><img src="/static/img/crosshair.svg"></div>
            </div>
            
            <div id="spyboy-svg-div">
                <!-- Populated with inline SVG via JS. -->
            </div>
            
            <div id="clock-date">
                
            </div>
            <div id="clock-month">
                
            </div>
            <div id="clock-year">
                
            </div>
            <div id="clock-time">
                
            </div>
            <div id="button-start"></div>
            <div id="button-stop"></div>
        </div>
        
        <div id="canvas_holder" style="position: absolute;top:60vw">

        </div>

    </body>
</html>
