<!DOCTYPE doctype html>

<html>
    <head>
        <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control"/>  <!-- Disable caching -->
                <meta content="no-cache" http-equiv="Pragma"/>
        <meta content="0" http-equiv="Expires"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>Spy-Boy 5000</title>
        <link href="/static/css/vault.css" rel="stylesheet"/>
        <link href="/static/css/vault_animations.css" rel="stylesheet"/>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/howler.min.js"></script>
        <script src="/static/js/vault.js" type="module"></script>
    </head>

    <body>
        <div id="background">
            <div id="treasure-div">
                <div id="treasure-text">The Treasure Was Inside You All Along!</div></div>
            <div id="vault-svg-div">
                <!-- Populated with inline SVG via JS. -->
            </div>
            <div id="vault-screen-div2" data-svg-id="VaultScreen2"></div>
            <div id="vault-screen-div4" data-svg-id="VaultScreen4"></div>
            <div id="vault-screen-div6" data-svg-id="VaultScreen6"></div>
            <div id="vault-screen-div8" data-svg-id="VaultScreen8"></div>
            <div id="vault-screen-div10" data-svg-id="VaultScreen10"></div>
            <div id="vault-screen-div12" data-svg-id="VaultScreen12"></div>

            <div id="keypad-div0" data-value="0" data-svg-id="Button0"></div>
            <div id="keypad-div1" data-value="1" data-svg-id="Button1"></div>
            <div id="keypad-div2" data-value="2" data-svg-id="Button2"></div>
            <div id="keypad-div3" data-value="3" data-svg-id="Button3"></div>
            <div id="keypad-div4" data-value="4" data-svg-id="Button4"></div>
            <div id="keypad-div5" data-value="5" data-svg-id="Button5"></div>
            <div id="keypad-div6" data-value="6" data-svg-id="Button6"></div>
            <div id="keypad-div7" data-value="7" data-svg-id="Button7"></div>
            <div id="keypad-div8" data-value="8" data-svg-id="Button8"></div>
            <div id="keypad-div9" data-value="9" data-svg-id="Button9"></div>
            <div id="keypad-divCLR" data-value="CLR" data-svg-id="ButtonCLR"></div>

            <div id="vault-handle-div" data-svg-id="VaultHandle"></div>
    </body>
</html>
